* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.hm_body_style {
  padding: 20px;
  margin: 0;
  background-color: #66ccff;
  height: 100%;
}

ul.hm_header_style {
  font-family: Lobster, Helvetica, sans-serif;
  font-size: 25px;
  background-color: #000;
  color: #fff;
  padding: 25px;
  text-align: left;
}

.pageTitle {
  background-color: #66ccff;
  padding: 1% 0 1% 0;
  font-size: 1.5em;
}

.viewSection {
  background-color: #fff;
  padding: 1%;
}

.ns--nutritionlist {
  display: block;
  padding: 5%;
  margin: 2%;
}

.ns-listItem {
  margin: 3%;
  padding: 5%;
  font-size: 1.5em;
}
