* {
    box-sizing: border-box;
}
img {
    /*height: 200px;*/
    /*width: 200px;*/
    overflow: hidden;
}
.cardContainer {
    height: 200px;
    width: 400px;
    overflow-x: hidden;

}

.cardInfo {
    display: inline-block;
    padding-top: 60px;
}
ol {
    box-sizing: border-box;
    /*display: flex;*/
    /*list-style: none;*/
    column-count: 1;
}
ol li {
    border: 1px solid grey;
    padding: 8px;
    text-align: center;
    background-color: white;
    list-style: none;
}

.pictureHolder {
    background: white;
    /*padding: 10px;*/
    height: 150px;
    width: 50em;
    box-shadow: 1px 1px 3px
    border-radius: 2px;
    margin-bottom: 45px;
    /*display: flex;*/
}
.pictureHolder img {
    margin-bottom:20px;
    width: auto;
    height: 100px;
    /*flex: 1*/
}
.pictureHolder span, h6{
    /*display: inline-block;*/
    margin-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*overflow: hidden;*/
    width: 100%
}
