
    <h1>Welcome to Healthy Start !</h1>

    <p>
      You have successfully signed up,
      your username is: <%= @user.username %>.<br>
    </p>
    <p>
      You can now  <a href="<%= @url %> ">
      sign in </a>and search for your favorite recipes
    </p>

    <p>Thanks for joining and have a great day!</p>

    Bon Apetit!
