* {
    box-sizing: border-box;
}

//Generic Styling for the Home Page*
img {
    width: 100%;
}
//Styling for the Header Section for the Home Page

.hm--scrollMenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    p {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
        :hover {
            background-color: #777;            
        }
    }
}
.hm_body_style {
    padding: 20px;
    margin: 0;
    background-color: #66ccff;
    height: 100%;
}
ul.hm_header_style {
    font-family: Lobster, Helvetica, sans-serif;
    font-size: 25px;
    background-color: #000;
    color: #fff;
    padding: 25px;
    text-align: left;
}

//Styling for the SubHeader Section for the Home Page
.pageTitle {
    background-color: #66ccff;
    padding: 1% 0 1% 0;
    font-size: 1.5em;
    box-shadow: 0 0 5px #5F5F5F;
}

//Styling for the Main Section for the Home Page

//Section for Nutrition Styling naming convention 'ns--section-***'
.viewSection {
    background-color: #fff;
    padding: 1%;
}
.ns--nutritionlist {
    display: block;
    padding: 5%;
    margin: 2% 0 2% 0;
}
.ns-listItem, .ns-listItemRecipe, .ns--nutritionDesc {
    margin: 3%;
    padding: 5%;
    font-size: 1em;
    border: 1px solid #66ccff;
    border-radius: 40px 10px;
    box-shadow: 0 0 5px #5F5F5F;
}

.ns-listItemRecipe {
    margin: 15px;
    padding: 2px;
}
.ns--sectionHeader {
    margin-top: 0;
    font-size: 1.5em;
}

.ns--card {
    padding: 1%;
}

.ns--nutritionDesc {
    border-radius: 15px;
}

//Section for Search Styling

//Section for Profile Styling

//Styling for the Footer Section for the Home Page
.hm--Footer {
    padding: 6px 0 6px 0;

}


//Styling for Various screen sizes...
@media screen and (max-width: 600px){
    ul.hm_header_style{
        display: block;
        li {
            text-align: center;
        }
    }
    .hm--Footer {
        a , h5 {
            text-align: center;
        }
    }
}
