* {
    box-sizing: border-box;
}

//Generic Styling for the Home Page*
img {
    width: 100%;
}
//Styling for the Header Section for the Welcome Page

//Styling for the SubHeader Section for the Welcome Page

//Styling for the Main Section for the Welcome Page

//Section for Welcome Styling naming convention 'ws--section-***'
.ws--Button:hover {
    background-color: #000;
    color: #fff;
}

//Section for Signup Page Styling

//Styling for the Footer Section for the Home Page
